<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buyi.mapper.ScoreMapper">

    <select id="getAllScoreBySids" resultType="com.buyi.entity.Score">
        select * from score where sid in
        <foreach collection="studentIds" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>
</mapper>
